#Originally from https://raw.githubusercontent.com/intel/multus-cni/master/.github/workflows/go-build-test-amd64.yml
name: Go-build-and-test-amd64
on:
    push:
    pull_request:
    schedule:
      - cron: "0 10 * * *" # everyday at 10 am
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: on
      TARGET: amd64
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Build
        run: GOARCH="${TARGET}" ./scripts/build.sh

      - name: Go test
        run: ./scripts/test.sh

  sriov-operator-e2e-test:
    name: SR-IOV operator e2e tests
    needs: [ build ]
    runs-on: [ sriov ]
    env:
      TEST_REPORT_PATH: k8s-artifacts
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: build network resource injector image
        run: podman build -f Dockerfile -t ghaction-network-resource-injector:pr-${{github.event.pull_request.number}} .

      - name: Check out sriov operator's code
        uses: actions/checkout@v6
        with:
          repository: k8snetworkplumbingwg/sriov-network-operator
          path: sriov-network-operator-wc

      - name: run test
        run: make test-e2e-conformance-virtual-k8s-cluster-ci
        working-directory: sriov-network-operator-wc
        env:
          LOCAL_NETWORK_RESOURCES_INJECTOR_IMAGE: ghaction-network-resource-injector:pr-${{github.event.pull_request.number}}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.TEST_REPORT_PATH }}
          path: ./sriov-network-operator-wc/${{ env.TEST_REPORT_PATH }}
