name: e2e
on: [pull_request]
jobs:
  e2e-test-cloud:
    name: E2E test cloud (GitHub VM)
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        go-version: ['1.25.x']
    steps:
      - name: Set up Go version
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code into the Go module directory
        uses: actions/checkout@v6

      - name: Get tools, setup KinD cluster test environment
        run: source scripts/e2e_get_tools.sh && ./scripts/e2e_setup_cluster.sh

      - name: Execute E2E tests
        run: go test -timeout 60m -v ./test/e2e/...
